ol, ul{
  counter-reset: stylized-ol-counter;
}

li::before {
  background: #d93025;
  border-radius: 50%;
  counter-increment: stylized-ol-counter;
  content: counter(stylized-ol-counter) '';
  color: #fff;
  display: inline-block;
  font-size: 0.7em;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  margin-right: 5px;
  text-align: center;
  transform: translateY(-2px);
  width: 18px;
}
